@code {
    [Parameter] public string? Url { get; set; }
    [Parameter] public List<string> Authors { get; set; } = ["Unknown Author"];
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Edition { get; set; } = string.Empty;
    [Parameter] public string Place { get; set; } = string.Empty;
    [Parameter] public string Publisher { get; set; } = string.Empty;
    [Parameter] public int Year { get; set; } = DateTime.Now.Year;
    [Parameter] public string Isbn { get; set; } = string.Empty;
}

<div class="reference-book">
    <a href="@Url"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="Read more about @Title">
        @string.Join(", ", Authors).
        <em>@Title</em>, @Edition edition.
        @Place: @Publisher,
        @Year.
        ISBN: @Isbn
    </a>
</div>