@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required List<string> Authors { get; set; }
    [Parameter] public required string Url { get; set; }
    [Parameter] public required string Place { get; set; }
    [Parameter] public required string Publisher { get; set; }
    [Parameter] public int Year { get; set; }
    [Parameter] public required string Doi { get; set; }
    [Parameter] public required string Journal { get; set; }
}

<div class="reference-paper">
    <a href="@Url" target="_blank" rel="noopener noreferrer" aria-label="Read more about @Title">
        @string.Join(", ", Authors). @Title. @Place: @Publisher, @Year. DOI: <a href="@Doi">@Doi</a>
    </a>
</div>